form#eval-form
    table(width='100%', cellpadding='0', cellspacing='0')
        tr
            td(width='95%')
                input#user-js
            td(width='5%')
                input(type="submit", value='&nbsp;&darr;&nbsp;', data-mini='true', data-iconpos='no')