#footer(style='height: #{mapHeight}; width: #{mapWidth};', data-role='footer', data-position='fixed', data-fullscreen='true')
    #map
    a.footer-toggle(href='#', data-role='button', data-iconpos='notext', data-icon='arrow-d', data-shadow='false')

a.footer-toggle(href='#', data-role='button', data-iconpos='notext', data-icon='arrow-u', data-shadow='false')