extends layout

block vars
    - var title = levelNumber + '. (↓,→)'

block content
    #content(data-role='content')
        h3= title
        img(src='/images/levels/matrix.jpg', width='100%')

    include _map

    script(type='text/javascript', src='/javascript/levels/buttons.js')