extends layout

block vars
    - var title = 'Hello!'

block content
    #content(data-role='content')
        h3 Добро пожаловать в квест YaC!
        p Чтобы вы не скучали в перерывах между докладами, мы предлагаем вам посоревноваться в захватывающем квесте.
        p Каждый из уровней квеста содержит Карту, на которой спрятано ключевое слово — <b>название следующего уровня</b>.
            | Найдите его и подставьте вместо текущего в <b>адресную строку</b> браузера вашего устройства, чтобы перейти дальше.
        p Первых 15 участников, которым удастся пройти наибольшее количество уровней, ждут классные призы от Яндекса.
            | А для первого места у нас приготовлен <b>специальный приз</b>!
        p Все уровни реализованы с помощью простых возможностей нашего
            | <a href='http://api.yandex.ru/maps/' target='_blank'>API Яндекс.Карт</a>.
        p Введите свое имя и начинайте игру!
        p
            form(action='/ajax/save-username', data-remote='true')
                input(name='username', placeholder='Введите ваше имя', data-mini='true', data-inline='true')
                input(type='submit', value='Поехали!')

            script(type='text/javascript', src='javascript/index.js')
